#s-06456aef-83f9-4ae2-84fc-7d3a4094ac99 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-06456aef-83f9-4ae2-84fc-7d3a4094ac99 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-06456aef-83f9-4ae2-84fc-7d3a4094ac99 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-06456aef-83f9-4ae2-84fc-7d3a4094ac99 #s-Image_35 {
  -ms-transform: rotate(0.0deg);
}
#s-06456aef-83f9-4ae2-84fc-7d3a4094ac99 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-06456aef-83f9-4ae2-84fc-7d3a4094ac99 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(180.0deg);
}
#s-06456aef-83f9-4ae2-84fc-7d3a4094ac99 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(180.0deg);
}
#s-06456aef-83f9-4ae2-84fc-7d3a4094ac99 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-06456aef-83f9-4ae2-84fc-7d3a4094ac99 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-06456aef-83f9-4ae2-84fc-7d3a4094ac99 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-06456aef-83f9-4ae2-84fc-7d3a4094ac99 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-06456aef-83f9-4ae2-84fc-7d3a4094ac99 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-06456aef-83f9-4ae2-84fc-7d3a4094ac99 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-06456aef-83f9-4ae2-84fc-7d3a4094ac99 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-06456aef-83f9-4ae2-84fc-7d3a4094ac99 #s-Category_1-options {
  background-color: #FFFFFF;
}
#s-06456aef-83f9-4ae2-84fc-7d3a4094ac99 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-06456aef-83f9-4ae2-84fc-7d3a4094ac99 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}