#s-11a13328-7748-4f43-ad07-d2bc277b5a6d #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11a13328-7748-4f43-ad07-d2bc277b5a6d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11a13328-7748-4f43-ad07-d2bc277b5a6d #s-Line_2 {
  rotation: 180.0;
  margin-left: -1px;
  margin-top: -1px;
}
#s-11a13328-7748-4f43-ad07-d2bc277b5a6d #s-Image_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11a13328-7748-4f43-ad07-d2bc277b5a6d #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11a13328-7748-4f43-ad07-d2bc277b5a6d #s-Line_3 {
  rotation: 354.0;
  margin-left: 0px;
  margin-top: -11px;
}
#s-11a13328-7748-4f43-ad07-d2bc277b5a6d #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11a13328-7748-4f43-ad07-d2bc277b5a6d #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11a13328-7748-4f43-ad07-d2bc277b5a6d #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11a13328-7748-4f43-ad07-d2bc277b5a6d #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11a13328-7748-4f43-ad07-d2bc277b5a6d #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11a13328-7748-4f43-ad07-d2bc277b5a6d #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11a13328-7748-4f43-ad07-d2bc277b5a6d #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11a13328-7748-4f43-ad07-d2bc277b5a6d #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11a13328-7748-4f43-ad07-d2bc277b5a6d #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11a13328-7748-4f43-ad07-d2bc277b5a6d #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11a13328-7748-4f43-ad07-d2bc277b5a6d #s-Image_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11a13328-7748-4f43-ad07-d2bc277b5a6d #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-11a13328-7748-4f43-ad07-d2bc277b5a6d #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-11a13328-7748-4f43-ad07-d2bc277b5a6d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}