#s-1de392d7-ae43-45bb-886d-e4f333cbef56 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1de392d7-ae43-45bb-886d-e4f333cbef56 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1de392d7-ae43-45bb-886d-e4f333cbef56 #s-Line_2 {
  rotation: 180.0;
  margin-left: -1px;
  margin-top: -1px;
}
#s-1de392d7-ae43-45bb-886d-e4f333cbef56 #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1de392d7-ae43-45bb-886d-e4f333cbef56 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1de392d7-ae43-45bb-886d-e4f333cbef56 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1de392d7-ae43-45bb-886d-e4f333cbef56 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1de392d7-ae43-45bb-886d-e4f333cbef56 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-1de392d7-ae43-45bb-886d-e4f333cbef56 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}