#s-6c111bbb-c77c-462f-8d63-a01ba2013fa9 #s-Image_34 {
  -ms-transform: rotate(0.0deg);
}
#s-6c111bbb-c77c-462f-8d63-a01ba2013fa9 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(180.0deg);
}
#s-6c111bbb-c77c-462f-8d63-a01ba2013fa9 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(180.0deg);
}
#s-6c111bbb-c77c-462f-8d63-a01ba2013fa9 #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-6c111bbb-c77c-462f-8d63-a01ba2013fa9 #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-6c111bbb-c77c-462f-8d63-a01ba2013fa9 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6c111bbb-c77c-462f-8d63-a01ba2013fa9 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6c111bbb-c77c-462f-8d63-a01ba2013fa9 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 7px 7px 7px 7px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  width: 124px;
  height: 36px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-6c111bbb-c77c-462f-8d63-a01ba2013fa9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}