#s-86871a6a-a5f1-4bc1-8bb9-695344c5defc #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86871a6a-a5f1-4bc1-8bb9-695344c5defc #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86871a6a-a5f1-4bc1-8bb9-695344c5defc #s-Line_2 {
  rotation: 180.0;
  margin-left: -1px;
  margin-top: -1px;
}
#s-86871a6a-a5f1-4bc1-8bb9-695344c5defc #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86871a6a-a5f1-4bc1-8bb9-695344c5defc #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86871a6a-a5f1-4bc1-8bb9-695344c5defc #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86871a6a-a5f1-4bc1-8bb9-695344c5defc #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86871a6a-a5f1-4bc1-8bb9-695344c5defc #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86871a6a-a5f1-4bc1-8bb9-695344c5defc #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86871a6a-a5f1-4bc1-8bb9-695344c5defc #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86871a6a-a5f1-4bc1-8bb9-695344c5defc #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86871a6a-a5f1-4bc1-8bb9-695344c5defc #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-86871a6a-a5f1-4bc1-8bb9-695344c5defc #s-Line_4 {
  rotation: 90.0;
  margin-left: 111px;
  margin-top: -111px;
}
#s-86871a6a-a5f1-4bc1-8bb9-695344c5defc #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-86871a6a-a5f1-4bc1-8bb9-695344c5defc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}