#s-86871a6a-a5f1-4bc1-8bb9-695344c5defc #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-86871a6a-a5f1-4bc1-8bb9-695344c5defc #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-86871a6a-a5f1-4bc1-8bb9-695344c5defc #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-86871a6a-a5f1-4bc1-8bb9-695344c5defc #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(180.0deg);
}
#s-86871a6a-a5f1-4bc1-8bb9-695344c5defc #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(180.0deg);
}
#s-86871a6a-a5f1-4bc1-8bb9-695344c5defc #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-86871a6a-a5f1-4bc1-8bb9-695344c5defc #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-86871a6a-a5f1-4bc1-8bb9-695344c5defc #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-86871a6a-a5f1-4bc1-8bb9-695344c5defc #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-86871a6a-a5f1-4bc1-8bb9-695344c5defc #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-86871a6a-a5f1-4bc1-8bb9-695344c5defc #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-86871a6a-a5f1-4bc1-8bb9-695344c5defc #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-86871a6a-a5f1-4bc1-8bb9-695344c5defc #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-86871a6a-a5f1-4bc1-8bb9-695344c5defc #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-86871a6a-a5f1-4bc1-8bb9-695344c5defc #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-86871a6a-a5f1-4bc1-8bb9-695344c5defc #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-86871a6a-a5f1-4bc1-8bb9-695344c5defc #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-86871a6a-a5f1-4bc1-8bb9-695344c5defc #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-86871a6a-a5f1-4bc1-8bb9-695344c5defc #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-86871a6a-a5f1-4bc1-8bb9-695344c5defc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}