#s-89e86fe2-f470-426f-bb4d-360c81299a2d #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-89e86fe2-f470-426f-bb4d-360c81299a2d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-89e86fe2-f470-426f-bb4d-360c81299a2d #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-89e86fe2-f470-426f-bb4d-360c81299a2d #s-Line_2 {
  rotation: 180.0;
  margin-left: -1px;
  margin-top: -1px;
}
#s-89e86fe2-f470-426f-bb4d-360c81299a2d #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-89e86fe2-f470-426f-bb4d-360c81299a2d #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-89e86fe2-f470-426f-bb4d-360c81299a2d #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-89e86fe2-f470-426f-bb4d-360c81299a2d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}