#s-9a90cc5f-d914-48bc-b1d9-c74732d444f6 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-9a90cc5f-d914-48bc-b1d9-c74732d444f6 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-9a90cc5f-d914-48bc-b1d9-c74732d444f6 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9a90cc5f-d914-48bc-b1d9-c74732d444f6 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-9a90cc5f-d914-48bc-b1d9-c74732d444f6 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(180.0deg);
}
#s-9a90cc5f-d914-48bc-b1d9-c74732d444f6 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(180.0deg);
}
#s-9a90cc5f-d914-48bc-b1d9-c74732d444f6 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-9a90cc5f-d914-48bc-b1d9-c74732d444f6 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-9a90cc5f-d914-48bc-b1d9-c74732d444f6 #s-Category_1-options {
  background-color: #FFFFFF;
}
#s-9a90cc5f-d914-48bc-b1d9-c74732d444f6 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9a90cc5f-d914-48bc-b1d9-c74732d444f6 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-9a90cc5f-d914-48bc-b1d9-c74732d444f6 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-9a90cc5f-d914-48bc-b1d9-c74732d444f6 #s-Category_2-options {
  background-color: #FFFFFF;
}
#s-9a90cc5f-d914-48bc-b1d9-c74732d444f6 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-9a90cc5f-d914-48bc-b1d9-c74732d444f6 #s-Category_3-options {
  background-color: #FFFFFF;
}
#s-9a90cc5f-d914-48bc-b1d9-c74732d444f6 #s-Category_4-options {
  background-color: #FFFFFF;
}
#s-9a90cc5f-d914-48bc-b1d9-c74732d444f6 #s-Category_5-options {
  background-color: #FFFFFF;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-9a90cc5f-d914-48bc-b1d9-c74732d444f6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}