#s-9a90cc5f-d914-48bc-b1d9-c74732d444f6 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a90cc5f-d914-48bc-b1d9-c74732d444f6 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a90cc5f-d914-48bc-b1d9-c74732d444f6 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a90cc5f-d914-48bc-b1d9-c74732d444f6 #s-Line_2 {
  rotation: 180.0;
  margin-left: -1px;
  margin-top: -1px;
}
#s-9a90cc5f-d914-48bc-b1d9-c74732d444f6 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a90cc5f-d914-48bc-b1d9-c74732d444f6 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a90cc5f-d914-48bc-b1d9-c74732d444f6 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a90cc5f-d914-48bc-b1d9-c74732d444f6 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9a90cc5f-d914-48bc-b1d9-c74732d444f6 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-9a90cc5f-d914-48bc-b1d9-c74732d444f6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}