#s-a61f8973-7f97-4b1b-b0c1-517b1d72db6e #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a61f8973-7f97-4b1b-b0c1-517b1d72db6e #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a61f8973-7f97-4b1b-b0c1-517b1d72db6e #s-Line_2 {
  rotation: 180.0;
  margin-left: -1px;
  margin-top: -1px;
}
#s-a61f8973-7f97-4b1b-b0c1-517b1d72db6e #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a61f8973-7f97-4b1b-b0c1-517b1d72db6e #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a61f8973-7f97-4b1b-b0c1-517b1d72db6e #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a61f8973-7f97-4b1b-b0c1-517b1d72db6e #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a61f8973-7f97-4b1b-b0c1-517b1d72db6e #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a61f8973-7f97-4b1b-b0c1-517b1d72db6e #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a61f8973-7f97-4b1b-b0c1-517b1d72db6e #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a61f8973-7f97-4b1b-b0c1-517b1d72db6e #s-Line_4 {
  rotation: 90.0;
  margin-left: 111px;
  margin-top: -111px;
}
#s-a61f8973-7f97-4b1b-b0c1-517b1d72db6e #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a61f8973-7f97-4b1b-b0c1-517b1d72db6e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}