#s-a61f8973-7f97-4b1b-b0c1-517b1d72db6e #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a61f8973-7f97-4b1b-b0c1-517b1d72db6e #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a61f8973-7f97-4b1b-b0c1-517b1d72db6e #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a61f8973-7f97-4b1b-b0c1-517b1d72db6e #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(180.0deg);
}
#s-a61f8973-7f97-4b1b-b0c1-517b1d72db6e #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(180.0deg);
}
#s-a61f8973-7f97-4b1b-b0c1-517b1d72db6e #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-a61f8973-7f97-4b1b-b0c1-517b1d72db6e #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-a61f8973-7f97-4b1b-b0c1-517b1d72db6e #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a61f8973-7f97-4b1b-b0c1-517b1d72db6e #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a61f8973-7f97-4b1b-b0c1-517b1d72db6e #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-a61f8973-7f97-4b1b-b0c1-517b1d72db6e #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a61f8973-7f97-4b1b-b0c1-517b1d72db6e #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a61f8973-7f97-4b1b-b0c1-517b1d72db6e #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-a61f8973-7f97-4b1b-b0c1-517b1d72db6e #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-a61f8973-7f97-4b1b-b0c1-517b1d72db6e #s-Line_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(90.0deg);
}
#s-a61f8973-7f97-4b1b-b0c1-517b1d72db6e #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a61f8973-7f97-4b1b-b0c1-517b1d72db6e #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a61f8973-7f97-4b1b-b0c1-517b1d72db6e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}