#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(180.0deg);
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(180.0deg);
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Image_34 {
  -ms-transform: rotate(0.0deg);
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Line_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}