#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Line_2 {
  rotation: 180.0;
  margin-left: -1px;
  margin-top: -1px;
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Image_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}