#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Line_1 {
  position: absolute;
  width: 312px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Line_2 {
  position: absolute;
  width: 37px;
  height: 11px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  box-shadow: none;
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Image_9 > svg {
  width: 68px;
  height: 58px;
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Image_9 {
  position: absolute;
  width: 68px;
  height: 58px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Image_34 > svg {
  width: 33px;
  height: 33px;
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Image_34 {
  position: absolute;
  width: 33px;
  height: 33px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Image_30 > svg {
  width: 30px;
  height: 37px;
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Image_30 {
  position: absolute;
  width: 30px;
  height: 37px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Text_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Text_4 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Text_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Line_3 {
  position: absolute;
  width: 312px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Text_5 {
  position: absolute;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Text_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-ea8b1a87-01f3-48e6-973d-81a1ca0fcf01 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}